<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Pokemon_and_Friends_Upgrader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <userSettings>
    <Pokemon_and_Friends_Upgrader.Properties.Settings>
      <setting name="LB2" serializeAs="String">
        <value />
      </setting>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NonAffiliate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Leaderboard" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AudioTreshhold" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="OBSWSPort" serializeAs="String">
        <value>4444</value>
      </setting>
      <setting name="OBSWSPW" serializeAs="String">
        <value />
      </setting>
      <setting name="Gifs" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SpawnTimer" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="SpawnChance" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SpawnMusic" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LoadingScreen" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LoadingAnimation" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CatchValuePokeball" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CatchValueGreatball" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CatchValueUltraball" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="CatchMinIncrease" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CatchMaxIncrease" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UseBonustime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BonusTimeMinUsers" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BonusTimeSpawnTimer" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="RunAwayMinIncrease" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="RunAwayMaxIncrease" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="RunTimer" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="UseDiscord" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseSepareteWebhook" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WebhookURLCatch" serializeAs="String">
        <value />
      </setting>
      <setting name="WebhookURLMYP" serializeAs="String">
        <value />
      </setting>
      <setting name="UseBreakoutMessage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseRefundMessage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseRunMessage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LoadingScreenPath" serializeAs="String">
        <value>files\loadingscreens\WildPokemonEnglish.png</value>
      </setting>
      <setting name="ShinyScreenPath" serializeAs="String">
        <value>files\shinybackgrounds\shinygold.png</value>
      </setting>
      <setting name="LoadingSoundPath" serializeAs="String">
        <value>Pokemon Battle.mp3</value>
      </setting>
      <setting name="NamePokeball" serializeAs="String">
        <value>Pokeball</value>
      </setting>
      <setting name="NameGreatball" serializeAs="String">
        <value>Greatball</value>
      </setting>
      <setting name="UseGreatball" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NameUltraball" serializeAs="String">
        <value>Ultraball</value>
      </setting>
      <setting name="UseUltraball" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NameMasterball" serializeAs="String">
        <value>Masterball</value>
      </setting>
      <setting name="UseMasterball" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NameMysteryPokemon" serializeAs="String">
        <value>Mystery Pokemon</value>
      </setting>
      <setting name="UseMysteryPokemon" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NameMysteryShiny" serializeAs="String">
        <value>Mystery Shiny</value>
      </setting>
      <setting name="UseMysteryShiny" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NameSummon" serializeAs="String">
        <value>Summon Pokemon</value>
      </setting>
      <setting name="UseSummon" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NameGift" serializeAs="String">
        <value>Give a Gift</value>
      </setting>
      <setting name="UseGift" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseSpawnChance" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BonusTimeDuration" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ShinyChance" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PricePokeball" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PriceGreatball" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="PriceUltraball" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="PriceMasterball" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="PriceSummon" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="PriceMysteryPokemon" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="PriceMysteryShiny" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="PriceGift" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="AnnounceRarePokemons" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseAnimatedTrainers" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BroadcasterName" serializeAs="String">
        <value />
      </setting>
      <setting name="UseGen1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseGen2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseGen3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseGen4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseGen5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseGen6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseGen7" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseGen8" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseRegionals" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseCustomPokemon" serializeAs="String">
        <value>1</value>
      </setting>
    </Pokemon_and_Friends_Upgrader.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>