<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pokemon_and_Friends_Upgrader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <Pokemon_and_Friends_Upgrader.Properties.Settings>
            <setting name="WebhookURL" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunAwayMin" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="RunAwayMax" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FirstPokemonNr" serializeAs="String">
                <value>501</value>
            </setting>
            <setting name="LastPokemonNr" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="ShinyPercentage" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxAmountOfPokemon" serializeAs="String">
                <value>898</value>
            </setting>
            <setting name="SpawnTimer" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="RunTimer" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="GreatballTimer" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="UltraballTimer" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="LoadingScreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpawnMusic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BreakoutMessage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Discord" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WebhookUser" serializeAs="String">
                <value>PokemonBot</value>
            </setting>
            <setting name="CatchRate" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="Gift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Masterball" serializeAs="String">
                <value>0</value>
            </setting>
        </Pokemon_and_Friends_Upgrader.Properties.Settings>
    </userSettings>
</configuration>
